# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
anyio=3.6.2=pypi_0
appnope=0.1.3=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.2.3=pypi_0
astroid=2.15.4=pypi_0
asttokens=2.2.1=pypi_0
attrs=23.1.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.12.2=pypi_0
bleach=6.0.0=pypi_0
brotlipy=0.7.0=py38h91455d4_1005
bzip2=1.0.8=h8ffe710_4
ca-certificates=2022.12.7=h5b45459_0
certifi=2022.12.7=pyhd8ed1ab_0
cffi=1.15.1=py38h57701bc_3
charset-normalizer=3.1.0=pyhd8ed1ab_0
colorama=0.4.6=pypi_0
comm=0.1.3=pypi_0
contourpy=1.0.7=pypi_0
cryptography=40.0.2=py38h95f5157_0
cycler=0.11.0=pypi_0
debugpy=1.6.7=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.6=pypi_0
entrypoints=0.4=pypi_0
executing=1.2.0=pypi_0
fastjsonschema=2.16.3=pypi_0
fonttools=4.39.3=pypi_0
fqdn=1.5.1=pypi_0
html5lib=1.1=pypi_0
idna=3.4=pyhd8ed1ab_0
imageio=2.28.1=pypi_0
importlib-metadata=6.6.0=pypi_0
importlib-resources=5.12.0=pypi_0
intel-openmp=2023.1.0=h57928b3_46319
ipykernel=6.22.0=pypi_0
ipython=8.12.1=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.0.6=pypi_0
isoduration=20.11.0=pypi_0
isort=5.12.0=pypi_0
jedi=0.18.2=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pyhd8ed1ab_0
jsonpointer=2.3=pypi_0
jsonschema=4.17.3=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=8.2.0=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=5.3.0=pypi_0
jupyter-events=0.6.3=pypi_0
jupyter-server=2.5.0=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-widgets=3.0.7=pypi_0
kiwisolver=1.4.4=pypi_0
lazy-loader=0.2=pypi_0
lazy-object-proxy=1.9.0=pypi_0
libblas=3.9.0=16_win64_mkl
libcblas=3.9.0=16_win64_mkl
libffi=3.4.2=h8ffe710_5
libhwloc=2.9.1=h51c2c0f_0
libiconv=1.17=h8ffe710_0
liblapack=3.9.0=16_win64_mkl
libsqlite=3.40.0=hcfcfb64_1
libxml2=2.10.4=hc3477c8_0
libzlib=1.2.13=hcfcfb64_4
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
markupsafe=2.1.2=pypi_0
matplotlib=3.7.1=pypi_0
matplotlib-inline=0.1.6=pypi_0
mccabe=0.7.0=pypi_0
mistune=2.0.5=pypi_0
mkl=2022.1.0=h6a75c08_874
msys2-conda-epoch=20160418=1
nbclassic=1.0.0=pypi_0
nbclient=0.7.4=pypi_0
nbconvert=7.3.1=pypi_0
nbformat=5.8.0=pypi_0
nest-asyncio=1.5.6=pypi_0
networkx=3.1=pypi_0
notebook=6.5.4=pypi_0
notebook-shim=0.2.3=pypi_0
numpy=1.24.3=py38h1d91fd2_0
olefile=0.46=pypi_0
opencv-python=4.7.0.72=pypi_0
openssl=3.1.0=hcfcfb64_3
packaging=23.1=pyhd8ed1ab_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.5.0=pypi_0
pip=23.1.2=pyhd8ed1ab_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=3.5.0=pyhd8ed1ab_0
pooch=1.7.0=pyha770c72_3
prometheus-client=0.16.0=pypi_0
prompt-toolkit=3.0.38=pypi_0
psutil=5.9.5=pypi_0
pthreads-win32=2.9.1=hfa6e2cd_3
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pycparser=2.21=pyhd8ed1ab_0
pygments=2.15.1=pypi_0
pylint=2.17.3=pypi_0
pyopenssl=23.1.1=pyhd8ed1ab_0
pyparsing=3.0.9=pypi_0
pyrsistent=0.19.3=pypi_0
pysocks=1.7.1=pyh0701188_6
python=3.8.16=h4de0772_1_cpython
python-dateutil=2.8.2=pypi_0
python-json-logger=2.0.7=pypi_0
python_abi=3.8=3_cp38
pytz=2023.3=pypi_0
pywavelets=1.4.1=pypi_0
pywin32=306=pypi_0
pywinpty=2.0.10=pypi_0
pyyaml=6.0=pypi_0
pyzmq=25.0.2=pypi_0
qtconsole=5.4.2=pypi_0
qtpy=2.3.1=pypi_0
requests=2.29.0=pyhd8ed1ab_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
scikit-image=0.20.0=pypi_0
scikit-learn=1.2.2=py38h42e183d_1
scipy=1.9.1=pypi_0
send2trash=1.8.2=pypi_0
setuptools=67.7.2=pyhd8ed1ab_0
simplegeneric=0.8.1=pypi_0
six=1.16.0=pypi_0
sklearn=0.0.post4=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.4.1=pypi_0
stack-data=0.6.2=pypi_0
tbb=2021.9.0=h91493d7_0
terminado=0.17.1=pypi_0
testpath=0.6.0=pypi_0
threadpoolctl=3.1.0=pyh8a188c0_0
tifffile=2023.4.12=pypi_0
timeout-decorator=0.5.0=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h8ffe710_0
tomli=2.0.1=pypi_0
tomlkit=0.11.8=pypi_0
tornado=6.3.1=pypi_0
traitlets=5.9.0=pypi_0
typing-extensions=4.5.0=hd8ed1ab_0
typing_extensions=4.5.0=pyha770c72_0
ucrt=10.0.22621.0=h57928b3_0
uri-template=1.2.0=pypi_0
urllib3=1.26.15=pyhd8ed1ab_0
vc=14.3=hb25d44b_16
vc14_runtime=14.34.31931=h5081d32_16
vs2015_runtime=14.34.31931=hed1258a_16
wcwidth=0.2.6=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.5.1=pypi_0
wheel=0.40.0=pyhd8ed1ab_0
widgetsnbextension=4.0.7=pypi_0
win_inet_pton=1.1.0=pyhd8ed1ab_6
wrapt=1.15.0=pypi_0
xz=5.2.6=h8d14728_0
zipp=3.15.0=pypi_0
